@page
@model ErrorModel
@{
    ViewData["Title"] = "错误";
}

<h1 class="text-danger">错误。</h1>
<h2 class="text-danger">处理您的请求时发生错误。</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>请求 ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>开发模式</h3>
<p>
    切换到<strong>开发</strong>环境将显示有关所发生错误的更多详细信息。
</p>
<p>
    <strong>不应在已部署的应用程序中启用开发环境</strong>，因为它可能导致异常中的敏感信息显示给最终用户。 对于本地调试，可以通过将<strong> ASPNETCORE_ENVIRONMENT </strong>环境变量设置为<strong> Development </strong>并重新启动应用程序来启用开发环境。
</p>
